<!------------------------------------------------
|
|	Computational Thinking Quiz
|
-------------------------------------------------->

<template name="comp_thinking_quiz" template="quiz">
	{{#mooqita_wide_spacing}}
		<div class="item padding-top">
			<div class="padding-next">
				<h1>Computational Thinking Quiz</h1>
				{{#unless comp_thinking_quiz_score}}
					<form id="comp_thinking_quiz" method="post">
						<div class="quiz_content">
								<div class="quiz_content">
							
										<div>
											<h3>Breaking a complex problem down into smaller problems and solving each one individually.</h3>
											<div>
												<input type="radio" id="question_0" name="question_0" value="Decomposition" required="">
												<label for="question_0">Decomposition</label>
											</div>
											<div>
												<input type="radio" id="question_0" name="question_0" value="Abstraction" required="">
												<label for="question_0">Abstraction</label>
											</div>
											<div>
												<input type="radio" id="question_0" name="question_0" value="Programming" required="">
												<label for="question_0">Programming</label>
											</div>
											<div>
												<input type="radio" id="question_0" name="question_0" value="Algorithmic Thinking" required="">
												<label for="question_0">Algorithmic Thinking</label>
											</div>
										</div> <br>
									
										<div>
											<h3>Picking out the important bits of information from the problem, ignoring the specific details that don’t matter.</h3>
											<div>
												<input type="radio" id="question_1" name="question_1" value="Decomposition" required="">
												<label for="question_1">Decomposition</label>
											</div>
											<div>
												<input type="radio" id="question_1" name="question_1" value="Abstraction" required="">
												<label for="question_1">Abstraction</label>
											</div>
											<div>
												<input type="radio" id="question_1" name="question_1" value="Programming" required="">
												<label for="question_1">Programming</label>
											</div>
											<div>
												<input type="radio" id="question_1" name="question_1" value="Algorithmic Thinking" required="">
												<label for="question_1">Algorithmic Thinking</label>
											</div>
										</div> <br>
									
										<div>
											<h3>A logical way of getting from the problem to the solution. If the steps you take to solve a problem follow an algorithm then they can be reused and adapted to solve similar problems in the future.</h3>
											<div>
												<input type="radio" id="question_2" name="question_2" value="Decomposition" required="">
												<label for="question_2">Decomposition</label>
											</div>
											<div>
												<input type="radio" id="question_2" name="question_2" value="Abstraction" required="">
												<label for="question_2">Abstraction</label>
											</div>
											<div>
												<input type="radio" id="question_2" name="question_2" value="Programming" required="">
												<label for="question_2">Programming</label>
											</div>
											<div>
												<input type="radio" id="question_2" name="question_2" value="Algorithmic Thinking" required="">
												<label for="question_2">Algorithmic Thinking</label>
											</div>
										</div> <br>
									
										<div>
											<h3>Why do we need to think computationally?</h3>
											<div>
												<input type="radio" id="question_3" name="question_3" value="To help us program" required="">
												<label for="question_3">To help us program</label>
											</div>
											<div>
												<input type="radio" id="question_3" name="question_3" value="To help us solve complex problems more easily" required="">
												<label for="question_3">To help us solve complex problems more easily</label>
											</div>
											<div>
												<input type="radio" id="question_3" name="question_3" value="To help us to think like a computer" required="">
												<label for="question_3">To help us to think like a computer</label>
											</div>
											<div>
												<input type="radio" id="question_3" name="question_3" value="All of the above" required="">
												<label for="question_3">All of the above</label>
											</div>
										</div> <br>
									
										<div>
											<h3>What is pseudocode?</h3>
											<div>
												<input type="radio" id="question_4" name="question_4" value="A high-level language that has specific syntax" required="">
												<label for="question_4">A high-level language that has specific syntax</label>
											</div>
											<div>
												<input type="radio" id="question_4" name="question_4" value="A way of describing a set of instructions that doesn’t use specific syntax" required="">
												<label for="question_4">A way of describing a set of instructions that doesn’t use specific syntax</label>
											</div>
											<div>
												<input type="radio" id="question_4" name="question_4" value="A diagram that represents a set of instructions" required="">
												<label for="question_4">A diagram that represents a set of instructions</label>
											</div>
											<div>
												<input type="radio" id="question_4" name="question_4" value="A set of configuration instructions given to a compiler." required="">
												<label for="question_4">A set of configuration instructions given to a compiler.</label>
											</div>
										</div> <br>
									
										<div>
											<h3>What is an algorithm?</h3>
											<div>
												<input type="radio" id="question_5" name="question_5" value="Patterns and trends used to solve a problem" required="">
												<label for="question_5">Patterns and trends used to solve a problem</label>
											</div>
											<div>
												<input type="radio" id="question_5" name="question_5" value="A set of step-by-step instructions to resolve a problem" required="">
												<label for="question_5">A set of step-by-step instructions to resolve a problem</label>
											</div>
											<div>
												<input type="radio" id="question_5" name="question_5" value="A programming language" required="">
												<label for="question_5">A programming language</label>
											</div>
											<div>
												<input type="radio" id="question_5" name="question_5" value="A complex theoretical computer science concept." required="">
												<label for="question_5">A complex theoretical computer science concept.</label>
											</div>
										</div> <br>
									
										<div>
											<h3>Which of the following is an example of thinking computationally?</h3>
											<div>
												<input type="radio" id="question_6" name="question_6" value="Planning out your route when going to meet a friend" required="">
												<label for="question_6">Planning out your route when going to meet a friend</label>
											</div>
											<div>
												<input type="radio" id="question_6" name="question_6" value="When going to meet a friend, wandering around until you find them" required="">
												<label for="question_6">When going to meet a friend, wandering around until you find them</label>
											</div>
											<div>
												<input type="radio" id="question_6" name="question_6" value="When going to meet a friend, asking a parent to plan your route for you" required="">
												<label for="question_6">When going to meet a friend, asking a parent to plan your route for you</label>
											</div>
											<div>
												<input type="radio" id="question_6" name="question_6" value="When you meet a friend, discussing which restaurant to visit." required="">
												<label for="question_6">When you meet a friend, discussing which restaurant to visit.</label>
											</div>
										</div> <br>
									
										<div>
											<h3>Which of the following is NOT an example of computational thinking?</h3>
											<div>
												<input type="radio" id="question_7" name="question_7" value="Planning what to collect and where to exit to complete a video game level" required="">
												<label for="question_7">Planning what to collect and where to exit to complete a video game level</label>
											</div>
											<div>
												<input type="radio" id="question_7" name="question_7" value="Planning how to beat your enemies in a video game level" required="">
												<label for="question_7">Planning how to beat your enemies in a video game level</label>
											</div>
											<div>
												<input type="radio" id="question_7" name="question_7" value="Accidentally completing a video game level" required="">
												<label for="question_7">Accidentally completing a video game level</label>
											</div>
											<div>
												<input type="radio" id="question_7" name="question_7" value="Repeating a step a number of times to defeat and enemy." required="">
												<label for="question_7">Repeating a step a number of times to defeat and enemy.</label>
											</div>
										</div> <br>
									
										<div>
											<h3>To create a successful computer program, how many computational thinking techniques are usually required?</h3>
											<div>
												<input type="radio" id="question_8" name="question_8" value="Two" required="">
												<label for="question_8">Two</label>
											</div>
											<div>
												<input type="radio" id="question_8" name="question_8" value="Four" required="">
												<label for="question_8">Four</label>
											</div>
											<div>
												<input type="radio" id="question_8" name="question_8" value="Three" required="">
												<label for="question_8">Three</label>
											</div>
											<div>
												<input type="radio" id="question_8" name="question_8" value="Ten or More" required="">
												<label for="question_8">Ten or More</label>
											</div>
										</div> <br>
									
										<div>
											<h3>When is a computer most likely to be used when using computational thinking?</h3>
											<div>
												<input type="radio" id="question_9" name="question_9" value="During decomposition" required="">
												<label for="question_9">During decomposition</label>
											</div>
											<div>
												<input type="radio" id="question_9" name="question_9" value="At the end, when programming a computer" required="">
												<label for="question_9">At the end, when programming a computer</label>
											</div>
											<div>
												<input type="radio" id="question_9" name="question_9" value="When writing algorithms" required="">
												<label for="question_9">When writing algorithms</label>
											</div>
											<div>
												<input type="radio" id="question_9" name="question_9" value="At every stage." required="">
												<label for="question_9">At every stage.</label>
											</div>
										</div> <br>
									
								</div>
							{{#each question in quiz}}
							    <div>
									<h3>{{question.question}}</h3>
									<div>
										<input type="radio" id="question_{{@index}}" name="question_{{@index}}" value="{{question.answer_one}}" required>
										<label for="question_{{@index}}">{{question.answer_one}}</label>
									</div>
									<div>
										<input type="radio" id="question_{{@index}}" name="question_{{@index}}" value="{{question.answer_two}}" required>
										<label for="question_{{@index}}">{{question.answer_two}}</label>
									</div>
									<div>
										<input type="radio" id="question_{{@index}}" name="question_{{@index}}" value="{{question.answer_three}}" required>
										<label for="question_{{@index}}">{{question.answer_three}}</label>
									</div>
									<div>
										<input type="radio" id="question_{{@index}}" name="question_{{@index}}" value="{{question.answer_four}}" required>
										<label for="question_{{@index}}">{{question.answer_four}}</label>
									</div>
							    </div> <br />
							{{/each}}
						</div>
						<input type="submit" class="btn btn-theme" name="get_results" value="Get Results">
					</form>
				{{else}}
					<h1>You have already submitted this quiz.</h1>
				{{/unless}}
			</div>
		</div>
	{{/mooqita_wide_spacing}}
</template>
